<p id="notice"><%= notice %></p>

<h1>Listing Submissions</h1>

<table>
  <thead>
    <tr>
      <th>Iden</th>
      <th>Deleted</th>
      <th>Type</th>
      <th>By</th>
      <th>Time</th>
      <th>Text</th>
      <th>Dead</th>
      <th>Parent</th>
      <th>Kids</th>
      <th>Url</th>
      <th>Score</th>
      <th>Title</th>
      <th>Descendants</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.iden %></td>
        <td><%= submission.deleted %></td>
        <td><%= submission.type %></td>
        <td><%= submission.by %></td>
        <td><%= submission.time %></td>
        <td><%= submission.text %></td>
        <td><%= submission.dead %></td>
        <td><%= submission.parent %></td>
        <td><%= submission.kids %></td>
        <td><%= submission.url %></td>
        <td><%= submission.score %></td>
        <td><%= submission.title %></td>
        <td><%= submission.descendants %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
